<footer>
  <p>© Silas Schlax. All rights reserved.</p>
  <p>Created and Designed By: Silas Schlax</p>
  <p>Want to see how it works? Check out my <a target="_blank" href="https://github.com/Silas-N-Schlax/kepler_scavenger_hunt">Github!</a></p>
  <p id="bottom">Got a question? Email me at: <a target="_blank" href="mailto:silasschlax@gmail.com">silasschlax@gmail.com</a></p>
</footer>