label {
  display: table-cell;
  width: 1px;
  white-space: nowrap;
}

select {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

span {
  display: table-cell;
  padding: 0 0 0 6px;
  margin: 0;
  width: 100%;
}
br {
  display: block;
  content: " ";
  margin: 0;
  padding: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

hr {
  border: 0;
  height: 3px;
  background-color: var(--color-panel);
  margin: 20px 0;
}