#upload-form {
  display: flex;
  position: relative; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}




select {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  width: 100%;
}

select:focus {
  border-color: var(--color-button);
  outline: none;
}

form button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-button);
  color: white;
  cursor: pointer;
}
form button:hover {
  background-color: var(--color-button-hover);
}


@media (max-width: 768px) {
  #upload-form {
    width: 90%;
  }
  input[type="text"],
  select {
    width: 100%;
  }
}